body{
    background-color: silver;
}
div.input{
    margin: auto;
    text-align: center;
}
.operations{
    text-align: center;  
}
div.operations button{
    display: inline;
    width:50px;
}
#result{
    text-align: center;
}